.card-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0 auto;
  list-style: none;
  padding: 25px 0;
}

.load-more {
  box-sizing: border-box;
  width: 282px;
  align-self: center;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: transparent;
  color: #323232;
  border: 1px solid #323232;
  box-shadow: 0 0 1px 1px #323232;
}

.load_more_status_hide {
  display: none;
}

.all-found {
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-bottom: 60px;
  }

  .load-more {
    cursor: pointer;
    transition: all .3s;
  }

  .load-more:hover {
    opacity: .9;
    box-shadow: 0 0 3px 3px #323232;
  }
}