.detail {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  color: #323232;
  position: relative;
}

.detail__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.detail__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.detail__about {
  margin: 0;
}

.detail__categhories {
  margin: 0;
  opacity: .7;
}

.detail__authors {
  margin: 0;
  opacity: .9;
}

.detail__link {
  font-size: 18px;
  background-color: transparent;
  color: #141d65;
  border: none;
  transition: opacity .3s;
  position: absolute;
  bottom: -45px;
}

@media screen and (min-width: 768px) {
  .detail {
    flex-direction: row;
    column-gap: 30px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .detail__bg {
    height: 300px;
    object-fit: cover;
  }

  .detail__info {
    max-width: 650px;
  }

  .detail__link {
    left: 50%;
    bottom: -70px;
  }
}

@media screen and (min-width: 1024px) {
  .detail {
    font-size: 24px;
    padding: 50px 0 0;
    margin: 0 auto;
    column-gap: 50px;
  }

  .detail__title {
    font-size: 28px;
  }

  .detail__bg {
    height: 400px;
  }

  .detail__link {
    font-size: 22px;
    left: 50%;
    bottom: -100px;
  }

  .detail__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}